.view-entries-container {
  padding: 0 10px;
}

.table {
  font-size: 0.9rem;
}

@media (max-width: 576px) {
  .table th,
  .table td {
    padding: 0.5rem;
    font-size: 0.8rem;
    white-space: nowrap;
  }

  .view-entries-container h2 {
    font-size: 1.2rem;
  }
}
